<button id="toggle-embedded-chat-btn" onclick="toggleEmbeddedChat()">Toggle Embedded Chat</button>
<fieldset>
    <legend> Help Me API</legend>
    <input type="text" id="section-to-log-input" placeholder="Section to log">
    <input type="text" id="page-to-log-input" placeholder="Page to log">
    <button id="helpme-api-btn" onclick="callHelpMeApi()">Call Help Me API</button>
</fieldset>
<fieldset>
    <legend> Request Engagement</legend>
    <button id="request-engagement-api-btn" onclick="callRequestEngagement()">Call Request Engagement</button>
</fieldset>
<h1>Page Elements</h1>
<p></p>
<label for="texttestinput">Text test</label>
<input type="text" id="texttestinput"> <p></p>
<p>
    <label for="colorinput">Color test</label>
    <input type="color" id="colorinput">
</p>
<p>
    <label for="dateinput">Color test</label>
    <input type="date" id="dateinput">
</p>
<p>
    <label for="DATETIME_LOCAL">DATETIME_LOCAL test</label>
    <input type="datetime-local" id="DATETIME_LOCAL">
</p>
<p>
    <label for="EMAIL">email test</label>
    <input type="email" id="EMAIL">
</p>
<p>
    <label for="MONTH">MONTH test</label>
    <input type="month" id="MONTH">
</p>
<p>
    <label for="NUMBER">number test</label>
    <input type="number" id="NUMBER">
</p>
<p>
    <label for="SEARCH">SEARCH test</label>
    <input type="search" id="SEARCH">
</p>
<p>
    <label for="range">range test</label>
    <input type="range" id="range" min="0" max="11" step="1">
</p>
<p>
    <label for="selecttest">select test</label>
    <select id="selecttest">
        <option value="">None</option>
        <option value="One">one</option>
        <option value="Two">two</option>
        <option value="Three">three</option>
        <option value="Four">four</option>
    </select>
</p>
<p>
    <label for="checkbox">checkbox test</label>
    <input type="checkbox" id="checkbox" value="rawr">
</p>
<p>
    <label for="radio1">radio test 1</label>
    <input type="radio" id="radio1" value="one" name="radiotest">
    <label for="radio2">radio test 2</label>
    <input type="radio" id="radio2" value="two" name="radiotest">
    <label for="radio3">radio test 3</label>
    <input type="radio" id="radio3" value="three" name="radiotest">
</p>
<h1>DOM Sync Field Filters</h1>
<p>
    <label for="v24DomSyncMaskInput">v24DomSyncMaskInput</label>
    <input type="text" id="v24DomSyncMaskInput" class="v24DomSyncMaskInput">
</p>
<p>
    <label for="v24DomSyncHide">v24DomSyncHide</label>
    <input type="text" id="v24DomSyncHide" class="v24DomSyncHide">
</p>
<p>
    <label for="v24DomSyncIgnoreInput">v24DomSyncIgnoreInput</label>
    <input type="text" id="v24DomSyncIgnoreInput" class="v24DomSyncIgnoreInput">
</p>
<p>
    <label for="v24DomSyncDenyAgent">v24DomSyncDenyAgent</label>
    <input type="text" id="v24DomSyncDenyAgent" class="v24DomSyncDenyAgent">
</p>
