<header>
    <h1 id="page-title"></h1> <!-- This will be dynamically updated -->
    <nav id="site-menu">
        <ul>
            <li><a href="index.html">MainSite</a></li>
            <li><a href="index.html?site=BobbyTest&siteSection=Custom&culture=en-gb">ClientInitialise:  BobbySite|Custom|en-gb</a></li>
            <li><a href="preeng-and-zendesk.html">PreEngagement Survey with Zendesk</a></li>
            <li><a href="zendesk.html">Zendesk</a></li>
            <li><a href="no-zendesk.html">No Zendesk</a></li>
            <li><a href="zendesk-nojs.html">Zendesk (no JS)</a></li>
            <li><a href="no-viewport">No Viewport</a></li>
            <li><a href="fixed-viewport">Fixed Viewport</a></li>
        </ul>
    </nav>
    <button style="display:none;" id="debug-mode-btn">Debug Mode</button>
</header>
